@{
    ViewBag.Title = "Login";
}
<h2>Login</h2>
<form method="post">
    <label>Username: <input name="username" /></label><br />
    <label>Password: <input name="password" type="password" /></label><br />
    <button type="submit">Login</button>
</form>
<p style="color:red">@ViewBag.Error</p>